.active-tab {
    width: 140px;
    background: #ffffff;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px -6px 10px #7aaed533 !important;
    border-bottom: none !important;
    color: #0e5b94 !important;
    font-size: 18px;
    font-weight: 600;
  }
  
  .nonactive-tab {
    width: 140px;
    color: #707070 !important;
    font-size: 16px;
    font-weight: 400;
  }